// Include variables for standard settings. Eg: $green, $blue, $primary

// Primary, secondary etc colors
$alpha-color: blue;
$beta-color: green;
$charlie-color: red;
$delta-color: yellow;
$echo-color: purple;

$white: white;
$black: black;
$green: green;
$blue: blue;
$yellow: yellow;
$red: red;
$purple: purple;
$orange: orange;



